.container {
    width: 100%;
    display: flex;
    justify-content: center;

    .container-content {
        width: 1100px;
        display: flex;
        margin-top: 20px;

        button {
            border-radius: 3px;
            font-size: 15px;
        }
        
        .right-list { 
            width: 920px;
            margin-left: 60px;
        }
    }
}