.edit {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .header {
        width: 100%;
    }

    .edit-body {
        flex: 1;
        padding: 24px;
        display: flex;
        margin-top: 10px;
        justify-content: center;
        align-items: flex-start;

        .content {    
            width: fit-content;
            height: 100%;
            max-height: 800px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            column-gap: 150px;
    
            .left, .right {
                width: 300px;
                height: 100%;
                padding: 0 12px;
                background-color: #fff;
            }
    
            .main {
                width: 400px;
                height: 100%;
                padding: 30px;
                max-height: 700px;
            }
    
        }
    }

}