.card-option {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
        
    .option-left, .option-right {
        display: flex;
        align-items: center;
        column-gap: 6px;

        :global(.ant-btn-text) {
            font-size: 13px;
        }
    }
}