.login {
    display: grid;
    place-items: center;
    width: 100%;
    min-height: calc(100vh - 65px - 65px);

    .login-container {
        margin-left: -80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 10px;

        .login-title {
            align-self: flex-start;
            margin-left: 133px;
        }
    }
}